/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}


.myFace{
  height:200px;
}

.bigText {
  font-size: 25px;
}

.bigText2 {
  font-size: 20px;
}

.pushDown{
  margin-top: 50px;;
}


@media print {
  body {
    width: 8.5 in;
  }
}